<!DOCTYPE html>
<!-- Copyright (c) 2024 Zenin Easa Panthakkalakath -->
<html>
<head>
    <title>Joystick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <div class="direction">
            <div class="buttonContainer">
                <span class="button" id="▲◀">&nbsp;</span>
            </div>
            <div class="buttonContainer">
                <span class="button" id="▲">▲</span>
            </div>
            <div class="buttonContainer">
                <span class="button" id="▲▶">&nbsp;</span>
            </div>
            <div class="buttonContainer">
                <span class="button" id="◀">◀</span>
            </div>
            <div class="buttonContainer">
                <span class="button" id="⊙">⊙</span>
            </div>
            <div class="buttonContainer">
                <span class="button" id="▶">▶</span>
            </div>
            <div class="buttonContainer">
                <span class="button" id="▼◀">&nbsp;</span>
            </div>
            <div class="buttonContainer">
                <span class="button" id="▼">▼</span>
            </div>
            <div class="buttonContainer">
                <span class="button" id="▼▶">&nbsp;</span>
            </div>
        </div>

        <div class="action">
            <div></div>
            <div class="button" id="χ">χ</div>
            <div></div>
            <div class="button" id="π">π</div>
            <div class="button" id="ψ">ψ</div>
            <div class="button" id="ω">ω</div>
            <div></div>
            <div class="button" id="θ">θ</div>
            <div></div>
        </div>

        <div class="playerID">
            Player <%= playerID %>
        </div>
    </div>
    <div class="bottom">
        Copyright &copy; 2024 Zenin Easa Panthakkalakath
    </div>

    <script src="script.js"></script>
</body>
</html>
